.hover-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.hover-underline:hover::after {
    width: 100%;
}

#menu .active{
    opacity: 0.5;
}